@font-face {
    font-family: "Open Sans";
    src: url(Open_Sans/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url(Open_Sans/Roboto-Regular.ttf) format("truetype");
}

body {
    background: #F2F2F2;
    padding: 0px;

	font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


img {
    border: 0;
}

p {
    padding: 0px;
    margin: 0px;
    margin-left: 3px;
    margin-right: 3px;
}
span {
    padding: 0px;
    margin: 0px;
    margin-left: 3px;
    margin-right: 3px;
}


#status{
    font-size: 0.7em;
    background: lightgray;
    padding: 1px;
    margin: 0px;
    /*
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    */
}

.id {
    font-style: italic;
}

.ship {
    width: 400px;
    background: #F2F2F2;
    /*
    border-width: 1px;
    border-style: dotted;
    border-color: grey;
    */
    padding: 0px;
    margin: 0px;

}

.system {
    padding: 0px;
    margin: 10px;
    background: White;
    /*
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: black;
    */

}


.drawer {
    /*
    background: #F2F2F2;
    display: none;
    */
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: grey;
}


.subSection {
    border-top-width: 1px;
    border-top-style: dotted;
    border-top-color: grey;
}


.rightValue {
    float: right;
}
